<nav class="navbar is-transparent">
  <div class="container">
    <div class="navbar-brand">
      <a href="/" class="navbar-item" title="Logo">
        Home
      </a>
    </div>
    <div class="navbar-start">
      <a class="navbar-item" href="/about-us">
        About Us
      </a>
      <a class="navbar-item" href="/membership">
        Membership
      </a>
      <a class="navbar-item" href="/meetings">
        Meetings
      </a>
      <a class="navbar-item" href="/library">
        Library
      </a>
      <a class="navbar-item" href="/workshops">
        Workshops
      </a>
      <a class="navbar-item" href="/exhibits">
        Exhibits
      </a>
      <a class="navbar-item" href="/resources">
        Resources
      </a>
      <a class="navbar-item" href="/links">
        Links
      </a>
      <a class="navbar-item" href="mailto:gvcalligraphy@gmail.com">
        Contact Us
      </a>
    </div>
    <div class="navbar-end"></div>
  </div>
</nav>